{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="ui center aligned basic segment">
    <form class="ui form" action="{% url 'product:search' %}" method="get">
    <div class="ui action input">
      <input name="query" type="text" placeholder="Search...">
      <button class="ui icon button">
        <i class="search icon"></i>
      </button>
    </div>
    </form>
    </div>
    <div class="ui horizontal divider">{{ text }}</div>
    <div class="ui container" style="margin-top:1em">

        <div class="ui link cards">
            {% for product in products %}
                <div class="card">
                    <a class="image" href="{% url 'product:detail' product_id=product.id %}">
                        <img src="{{ product.image.url }}">
                    </a>
                    <div class="content">
                    <div class="header">{{ product.name }}</div>
                    <div class="meta">
<!--                        <a>fill</a>-->
                    </div>
                    <div class="description">
                        {{ product.description }}
                    </div>
                    </div>
                    <div class="extra content">
                    <span class="right floated">
                        {{ product.get_rating }} <i class="star icon"></i>
                    </span>
                    <span>
                        <i class="dollar icon"></i>
                        {{ product.price }},000 Tomans
                    </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

